// Универсальный контейнер
@mixin container ($lMob:0, $rMob:0, $lTabl:0, $rTabl:0, $lDesk:0, $rDesk:0, $lDeskMax:0, $rDeskMax:0) {
  margin: 0 auto;
  min-width: $mobile-width;
  padding-left: $lMob;
  padding-right: $rMob;
  padding-top: 0;
  padding-bottom: 0;
  max-width: $tablet-width;

  @media (min-width: $tablet-width) {
    max-width: $desktop-width;
    padding-left: $lTabl;
    padding-right: $rTabl;
  }

  @media (min-width: $desktop-width) {
    max-width: $container-desktop-width-maxi;
    padding-left: $lDesk;
    padding-right: $rDesk;
  }

  @media (min-width: $container-desktop-width-maxi) {
    margin: 0 auto;
    width: $container-desktop-width-maxi;
    padding-left: $lDeskMax;
    padding-right: $rDeskMax;
  }
}

// Медиа на размеры экранов
@mixin mobile-only {
  @media (min-width: $mobile-width) and (max-width: $tablet-width - 1) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin desktop-max {
  @media (min-width: $container-desktop-width-maxi + 1) {
    @content;
  }
}


// Медиа для ретины
@mixin retina($retinaX) {
  @if $retinaX == 2 {
    @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
      @content;
    }
  }

  @if $retinaX == 3 {
    @media (min-resolution: $retina3x-dpi), (min-resolution: $retina3x-dppx) {
      @content;
    }
  }
}

// Вызываем @include font-regular(); - если совпадает с дефолтными значениями
//        и @include font-regular(тут переменные цифрами); - если не совпадают
@mixin font-reg ($fs:$default-fs, $li:$default-li, $ls:$default-ls, $fw:400) {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: $fs;
  line-height: $li;
  letter-spacing: $ls;
  font-weight: $fw;
}

@mixin font-light ($fs:$default-fs, $li:$default-li, $ls:$default-ls, $fw:300) {
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: $fs;
  line-height: $li;
  letter-spacing: $ls;
  font-weight: $fw;
}

@mixin font-bold ($fs:$default-fs, $li:$default-li, $ls:$default-ls, $fw:700) {
  font-family: "OpenSansBold", Arial, sans-serif;
  font-size: $fs;
  line-height: $li;
  letter-spacing: $ls;
  font-weight: $fw;
}

@mixin second-font-reg ($fs:$default-fs, $li:$default-li, $ls:$default-ls, $fw:400) {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: $fs;
  line-height: $li;
  letter-spacing: $ls;
  font-weight: $fw;
}

@mixin second-font-light ($fs:$default-fs, $li:$default-li, $ls:$default-ls, $fw:300) {
  font-family: "UbuntuLight", Arial, sans-serif;
  font-size: $fs;
  line-height: $li;
  letter-spacing: $ls;
  font-weight: $fw;
}

@mixin second-font-bold ($fs:$default-fs, $li:$default-li, $ls:$default-ls, $fw:700) {
  font-family: "UbuntuBold", Arial, sans-serif;
  font-size: $fs;
  line-height: $li;
  letter-spacing: $ls;
  font-weight: $fw;
}

@mixin third-font-reg ($fs:$default-fs, $li:$default-li, $ls:$default-ls, $fw:400) {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: $fs;
  line-height: $li;
  letter-spacing: $ls;
  font-weight: $fw;
}

@mixin third-font-light ($fs:$default-fs, $li:$default-li, $ls:$default-ls, $fw:300) {
  font-family: "MontserratLight", Arial, sans-serif;
  font-size: $fs;
  line-height: $li;
  letter-spacing: $ls;
  font-weight: $fw;
}

@mixin third-font-bold ($fs:$default-fs, $li:$default-li, $ls:$default-ls, $fw:700) {
  font-family: "MontserratBold", Arial, sans-serif;
  font-size: $fs;
  line-height: $li;
  letter-spacing: $ls;
  font-weight: $fw;
}

// Интерактивное подчеркивание по наведению - исчезновение
// $fat - толщина линии подчеркивания
// $bottom - расстояние от нижней границы ссылки, м/б отрицательным
// $color - цвет ссылки до наведения
// $color-hover - цвет во время наведения
// $pos - позиция начала линии (по умолчанию слева 0, если есть иконка у ссылки,
// можно ее не подчеркивать и задать смещение)
// $width - ширина полосы подчеркивания (используется, если есть смещение, по умолчанию - 100%)
@mixin underline-lose-hover ($fat, $bottom, $color, $color-hover, $pos:0, $width:100%) {
  color: $color;
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: $width;
    transform: scaleX(1);
    height: $fat;
    bottom: $bottom;
    left: $pos;
    background-color: $color;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
  }

  &:hover {
    color: $color-hover;
  }

  &:hover::before {
    transform: scaleX(0);
    transform-origin: bottom left;
  }

  &:active {
    opacity: 0.6;
  }
}

// Интерактивное подчеркивание по наведению - появление
// $fat - толщина линии подчеркивания
// $bottom - расстояние от нижней границы ссылки, м/б отрицательным
// $color - цвет ссылки до наведения
// $color-hover - цвет во время наведения
// $pos - позиция начала линии (по умолчанию слева 0, если есть иконка у ссылки,
// можно ее не подчеркивать и задать смещение)
// $width - ширина полосы подчеркивания (используется, если есть смещение, по умолчанию - 100%)
@mixin underline-appear-hover ($fat, $bottom, $color, $color-hover, $pos:0, $width:100%) {
  color: $color;
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: $width;
    transform: scaleX(0);
    height: $fat;
    bottom: $bottom;
    left: $pos;
    background-color: $color-hover;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
  }

  &:hover {
    color: $color-hover;
  }

  &:hover::before {
    transform: scaleX(1);
    background-color: $color-hover;
    transform-origin: bottom left;
  }

  &:active {
    opacity: 0.6;
  }
}

// Стрелки для слайдеров
@mixin arrow ($width:15px, $height:15px, $wcircle:40px, $hcircle:40px, $color:$arrow-gray) {
  width: $wcircle;
  height: $hcircle;
  color: $color;
  background-color: $white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 50;

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 15px;
    width: $width;
    height: $height;
    border-left: 3px solid $color;
    border-bottom: 3px solid $color;
    transition: all 0.3s;
  }

  &:hover {
    background-color: $color;
  }

  &:hover::before {
    border-color: $black;
  }

  &:active {
    opacity: 0.5;
  }

  &--prev {
    transform: rotate(45deg);
  }

  &--next {
    transform: rotate(-135deg);
  }
}
