<section class="advantages" id="advantages">
  <div class="advantages__slider">
    <div class="advantages__container">
      <div class="advantages__item">
        <div class="advantages__icon">
          <svg class="advantages__icon-bed" width="40" height="40">
            <use xlink:href="#icon-bed"></use>
          </svg>
        </div>
        <div class="advantages__text">
          <span class="advantages__top">140</span>
          <span class="advantages__middle">евро</span>
          <span class="advantages__bottom">Средняя стоимость номера на двоих за одну ночь</span>
        </div>
      </div>
    </div>

    <div class="advantages__container">
      <div class="advantages__item">
        <div class="advantages__icon">
          <svg class="advantages__icon-sun" width="50" height="50">
            <use xlink:href="#icon-sun1"></use>
          </svg>
        </div>
        <div class="advantages__text advantages__text--two">
          <span class="advantages__top">300</span>
          <span class="advantages__middle">дней&nbsp;в&nbsp;году&nbsp;солнечно</span>
          <span class="advantages__bottom">Погода тоже держится комфортная: зимой термометр не опускается ниже +10-11°C , а в самый жаркий месяц — июль — не поднимается выше 26-27°C</span>
        </div>
      </div>
    </div>

    <div class="advantages__container">
      <div class="advantages__item">
        <div class="advantages__icon">
          <svg class="advantages__icon-meal" width="50" height="50">
            <use xlink:href="#icon-alcohol"></use>
          </svg>
        </div>
        <div class="advantages__text">
          <span class="advantages__top">100</span>
          <span class="advantages__middle">евро</span>
          <span class="advantages__bottom">Средняя стоимость ужина на двоих</span>
        </div>
      </div>
    </div>
  </div>

</section>
