<section class="advantages">
  <p class="advantages__description">Монако — олицетворение изысканности, роскоши и комфорта. Здесь как и 700 лет назад правят князья, звезда Голливуда стала принцессой, а время останавливается, чтобы ты успел поймать момент и насладиться — шикарными видами, лазурной гладью воды,  вкусными блюдами и сводящими с ума ароматами роз, которые так любила принцесса.</p>
  <div class="advantages__item">
    <div class="advantages__container">
      <div class="advantages__icon advantages__icon--car"></div>
      <div class="advantages__text">
        <span class="advantages__top">140</span>
        <span class="advantages__middle">евро</span>
        <span class="advantages__bottom">Средняя стоимость номера на двоих за одну ночь</span>
      </div>
    </div>
  </div>

  <div class="advantages__item">
    <div class="advantages__container">
      <div class="advantages__icon advantages__icon--sun">
      </div>
      <div class="advantages__text">
        <span class="advantages__top">300</span>
        <span class="advantages__middle">дней в году солнечно</span>
        <span class="advantages__bottom">Погода тоже держится комфортная: зимой термометр не опускается ниже +10-11°C , а в самый жаркий месяц — июль — не поднимается выше 26-27°C</span>
      </div>
    </div>
  </div>

  <div class="advantages__item">
    <div class="advantages__container">
      <div class="advantages__icon advantages__icon--meal">
      </div>
      <div class="advantages__text">
        <span class="advantages__top">100</span>
        <span class="advantages__middle">евро</span>
        <span class="advantages__bottom">Средняя стоимость ужина на двоих</span>
      </div>
    </div>
  </div>
</section>
