<section class="better" id="better">
  <h2 class="better__caption">Лучшие <span>места,&nbsp;чтобы</span></h2>
  <div class="better__wrapper">
    <menu class="better__menu">
      <li class="better__menu-item better__menu-item--active" data-num="1">
        <div class="better__link">
          <svg class="better__icon" width="35" height="33">
            <use xlink:href="#icon-king-crown"></use>
          </svg>
          <h3 class="better__name">Почувствовать себя царской особой</h3>
        </div>
        <ul class="better__submenu">
          <li class="better__submenu-item submenu-item--active">Княжеский дворец</li>
          <li class="better__submenu-item">Форт Антуан</li>
          <li class="better__submenu-item">Казино Монте-Карло</li>
        </ul>
      </li>
      <li class="better__menu-item" data-num="2">
        <div class="better__link">
          <svg class="better__icon" width="32" height="32">
            <use xlink:href="#icon-instagram"></use>
          </svg>
          <h3 class="better__name">Снимать крышесносные сторис</h3>
        </div>
        <ul class="better__submenu">
          <li class="better__submenu-item">Розарий принцессы Грейс</li>
          <li class="better__submenu-item">Экзотический сад</li>
          <li class="better__submenu-item">Порт Эркюль</li>
        </ul>
      </li>
      <li class="better__menu-item" data-num="3">
        <div class="better__link">
          <svg class="better__icon" width="32" height="36">
            <use xlink:href="#icon-sculpture"></use>
          </svg>
          <h3 class="better__name">Заглянуть в другой мир</h3>
        </div>
        <ul class="better__submenu">
          <li class="better__submenu-item">Океанографический музей</li>
          <li class="better__submenu-item">Музей старинных автомобилей</li>
          <li class="better__submenu-item">Дорога скульптур</li>
          <li class="better__submenu-item">Квартал One Monte-Carlo</li>
        </ul>
      </li>
      <li class="better__menu-item" data-num="4">
        <div class="better__link">
          <svg class="better__icon" width="34" height="34">
            <use xlink:href="#icon-duty-free"></use>
          </svg>
          <h3 class="better__name">Принарядиться (Suit up, bro!)</h3>
        </div>
        <ul class="better__submenu">
          <li class="better__submenu-item">Торговая галерея Metropole</li>
          <li class="better__submenu-item">Золотой квадрат</li>
          <li class="better__submenu-item">Рынок Кондамин</li>
        </ul>
      </li>
    </menu>
    <div class="better__wrap">
      <div class="better__slider better__slider--1 better__slider--active" data-num="1">
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Княжеский дворец</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/palace.jpg" srcset="img/palace@2x.jpg 2x, img/palace@3x.jpg 3x" alt="Княжеский дворец">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Где еще представлять себя князем, как не во дворце, который с XIII века является резиденцией монархов? Когда-то здесь была генуэзская крепость, в XV веке Гримальди модернизировали её в королевскую резиденцию, во времена французской революции дворец стал госпиталем и богадельней, но уже в 1814 году вернулся к законным владельцам.</p>
              <p class="better__text">Во дворце будем гулять по итальянской галерее, Салону Людовика XV, тронному залу, Салону Мазарини — в общем, по всем местам, куда позовут твои царские корни.</p>
              <span class="better__price">Стоимость: 8 €</span>
            </div>
          </div>
        </div>
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Форт Антуан</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/fort.jpg" srcset="img/fort@2x.jpg 2x, img/fort@3x.jpg 3x" alt="Форт Антуан">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">В прошлом классическое оборонительное сооружение, Форт Антуан сейчас — амфитеатр, в котором проходят спектакли и фестивали. Только представь: лёгкий ветер ласкает плечи, ты сидишь на полукруге амфитеатра и слушаешь проникновенные речи актера на французском языке, а вдали виднеется Средиземное море… Королевское времяпрепровождение!</p>
              <span class="better__price">Вход свободный (кроме спектакля).</span>
            </div>
          </div>
        </div>
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Казино Монте-Карло</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/casino.jpg" srcset="img/casino@2x.jpg 2x, img/casino@3x.jpg 3x" alt="Казино Монте-Карло">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Сияющий золотой дворец с фонтаном, окружённый садом, производят впечатление даже на тех, кого никогда не манили зелёное сукно, фишки и шелест купюр. Впрочем, играть совершенно необязательно: с 8:00 до 12:00 здесь проводят экскурсии для туристов. Помимо казино, в здании находятся оперный театр (тот самый «зал Гарнье»), клуб «Кубинская курилка» с танцполом и три ресторана.</p>
              <span class="better__price">Стоимость: 17 €.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="better__controls  better__controls--1 better__controls--active" data-num="1">
        <div class="better__arrow better__arrow--prev better__arrow--prev1"></div>
        <div class="better__arrow better__arrow--next better__arrow--next1"></div>
      </div>
      <div class="better__slider better__slider--2" data-num="2">
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Розарий принцессы Грейс</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/garden2.jpg" srcset="img/garden2@2x.jpg 2x, img/garden2@3x.jpg 3x" alt="Розарий принцессы Грейс">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Розарий — место волшебное. Здесь кожей чувствуешь, насколько была велика любовь князя Ренье III к Грейс Келли, насколько её любили и любят до сих пор жители Монако. Розарий не большой, но здесь можно провести несколько часов — гуляя по аллеям, вдыхая аромат роз и любуясь необычными скульптурами. И не забудь камеру — такую красоту должны увидеть все!</p>
              <span class="better__price">Вход свободный.</span>
            </div>
          </div>
        </div>
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Экзотический сад</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/garden.jpg" srcset="img/garden@2x.jpg 2x, img/garden@3x.jpg 3x" alt="Экзотический сад">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Основа коллекции сада — кактусы и суккуленты, столь популярные в последнее время. Как только сфотографируешься со всеми понравившимся растениями (их будет много), начинай любоваться видами на город — с горного склона, на котором раскинулся сад, обзор открывается шикарный. Сад работает круглый год, и круглый год в нём что-то цветет и распускается — солнце же светит 300 дней!</p>
              <span class="better__price">Стоимость: 7,2 €.</span>
            </div>
          </div>
        </div>
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Порт Эркюль</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/port.jpg" srcset="img/port@2x.jpg 2x, img/port@3x.jpg 3x" alt="Порт Эркюль">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Все те шикарные яхты, вальяжные миллиардеры и их спутницы в бриллиантах, с которыми так устойчиво ассоциируется Монте-Карло, собираются здесь. Но рекомендуем посетить порт не только, чтобы увидеть как прекрасна жизнь очень богатых людей, но и замечательно провести день самому — прогуляться по набережной, выпить бокал просекко с видом на Лазурный берег и насладиться моментом сполна.</p>
              <span class="better__price">Вход свободный.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="better__controls better__controls--2" data-num="2">
        <div class="better__arrow better__arrow--prev better__arrow--prev2"></div>
        <div class="better__arrow better__arrow--next better__arrow--next2"></div>
      </div>
      <div class="better__slider better__slider--3" data-num="3">
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Океанографический музей</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/museum.jpg" srcset="img/museum@2x.jpg 2x, img/museum@3x.jpg 3x" alt="Океанографический музей">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Во-первых, оцени само здание музея — оно как будто выросло из скалы, на которой стоит. Во-вторых, здесь самая крупная в мире коллекция обитателей морских глубин: акулы, черепахи, рыбы, морские коньки, кораллы, которые никого не оставят равнодушным. К тому же приятно осознавать, что музей здесь сделан не на потеху уставшим туристам, а с любовью к науке, океану и родной планете — сегодня он является главной научной базой международного Института океанографии.</p>
              <span class="better__price">Стоимость: 14 €.</span>
            </div>
          </div>
        </div>
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Музей старинных автомобилей</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/car.jpg" srcset="img/car@2x.jpg 2x, img/car@3x.jpg 3x" alt="Музей старинных автомобилей">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Lamborghini Countach 1986 года выпуска, Renault Torpedo 1911 года, Ford T 1924 года, Bugatti 1929 года… где ещё увидишь такие машины, как не в личной коллекции князя Монако Ренье III? Если этого недостаточно, чтобы убедить тебя пойти любоваться автомобилями, которые уже давно стали произведениями искусства, держи последний козырь: в коллекции музея есть УАЗ 469 с брезентовым верхом! Дальнейшие комментарии излишни.</p>
              <span class="better__price">Стоимость: 6 €.</span>
            </div>
          </div>
        </div>
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Дорога скульптур</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/way.jpg" srcset="img/way@2x.jpg 2x, img/way@3x.jpg 3x" alt="Дорога скульптур">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Монако — удивительное место! Где ещё просто гуляя по городу, ты увидишь сотни творений всемирно известных мастеров? Любоваться работами Армана, Ботеро, Кальдера, Сезара и других приходи в район Фонвьей.</p>
              <span class="better__price">Вход свободный.</span>
            </div>
          </div>
        </div>
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Квартал One Monte-Carlo</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/monte_carlo.jpg" srcset="img/monte_carlo@2x.jpg 2x, img/monte_carlo@3x.jpg 3x" alt="Квартал One Monte-Carlo">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Самый новый, самый модный, самый привилегированный район Монако. Сюда идём смотреть на  роскошные семь высоток из стекла и стали, гулять по бульвару принцессы Шарлен и изучать ассортимент бутиков люксовых брендов на нулевом уровне фешенебельного жилого комплекса.</p>
              <span class="better__price">Вход свободный.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="better__controls better__controls--3" data-num="3">
        <div class="better__arrow better__arrow--prev better__arrow--prev3"></div>
        <div class="better__arrow better__arrow--next better__arrow--next3"></div>
      </div>
      <div class="better__slider better__slider--4" data-num="4">
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Торговый центр Metropole</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/shop.jpg" srcset="img/shop@2x.jpg 2x, img/shop@3x.jpg 3x" alt="Торговый центр Metropole">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Множество бутиков уже ждут тебя в торговой галерее с роскошными интерьерами, мраморными полами и хрустальными люстрами прямо напротив казино Монте-Карло — будет где потратить выигрыш. Особенно выделим неприлично большой магазин парфюмерии Sephora, гигантский магазин техники Fnac, бутики Мax Mara, Malo, Kenzo и ресторан Pacific.</p>
            </div>
          </div>
        </div>
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">«Золотой квадрат»</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/shop2.jpg" srcset="img/shop2@2x.jpg 2x, img/shop2@3x.jpg 3x" alt="«Золотой квадрат»">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Если посмотреть на «Золотой квадрат» из космоса, ты скорее всего увидишь яркое свечение — как ещё может выглядеть место, где собрано такое количество люксовых брендов одежды, ювелирных изделий, антиквариата и декора? Даже если ты не планируешь ничего покупать, просто зайди посмотреть квартал с главными трендами мира моды.</p>
            </div>
          </div>
        </div>
        <div class="better__container">
          <div class="better__item">
            <h3 class="better__title">Рынок Кондамин</h3>
            <picture>
              <img class="better__image" data-object-fit="cover" src="img/market.jpg" srcset="img/market@2x.jpg 2x, img/market@3x.jpg 3x" alt="Рынок Кондамин">
            </picture>
            <div class="better__wrap-text">
              <p class="better__text">Достоин посещения уже ради того, чтобы своими глазами увидеть типичный монегасский квартал — не «лакшери» место для туристов, а красочный, шумный, многолюдный рынок, куда любят заглядывать местные. Здесь можно купить фрукты, недорого пообедать пастой и морепродуктами, перекинуться шуткой с продавцами и выпить бокальчик вина в одном из кафе.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="better__controls better__controls--4" data-num="4">
        <div class="better__arrow better__arrow--prev better__arrow--prev4"></div>
        <div class="better__arrow better__arrow--next better__arrow--next4"></div>
      </div>
    </div>
  </div>
</section>
