<section class="details" id="details">
  <h2 class="details__caption">Неповторимые <span>детали</span></h2>

  <div class="details__slider-nav">
    <div class="details__container">
      <div class="details__item-mini details__item-mini--0"></div>
    </div>
    <div class="details__container">
      <div class="details__item-mini details__item-mini--1"></div>
    </div>
    <div class="details__container">
      <div class="details__item-mini details__item-mini--2"></div>
    </div>
    <div class="details__container">
      <div class="details__item-mini details__item-mini--3"></div>
    </div>
    <div class="details__container">
      <div class="details__item-mini details__item-mini--4"></div>
    </div>
    <div class="details__container">
      <div class="details__item-mini details__item-mini--5"></div>
    </div>
  </div>

  <div class="details__slider-for">
    <div class="details__container">
      <div class="details__item">
        <figure class="details__picture">
          <picture>
            <source media="(min-width: 1200px)" srcset="https://of.worldota.net/travel/monaco/img/detail0_desktop.jpg 1x, https://of.worldota.net/travel/monaco/img/detail0_desktop@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail0_desktop@3x.jpg 3x">
            <source media="(min-width: 768px)" srcset="https://of.worldota.net/travel/monaco/img/detail0_tablet.jpg 1x, https://of.worldota.net/travel/monaco/img/detail0_tablet@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail0_tablet@3x.jpg 3x">
            <img class="details_image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco/img/detail0.jpg" alt="Порт" srcset="https://of.worldota.net/travel/monaco/img/detail0@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail0@3x.jpg 3x">
          </picture>
          <figcaption class="details__legend">
            <svg class="details__icon" width="18" height="25">
              <use xlink:href="#icon-geo"></use>
            </svg>
            <p class="details__text">Название страны произошло от слова Monoikos — «порт одинокого Геракла».</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="details__container">
      <div class="details__item">
        <figure class="details__picture">
          <picture>
            <source media="(min-width: 1200px)" srcset="https://of.worldota.net/travel/monaco/img/detail1_desktop.jpg 1x, https://of.worldota.net/travel/monaco/img/detail1_desktop@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail1_desktop@3x.jpg 3x">
            <source media="(min-width: 768px)" srcset="https://of.worldota.net/travel/monaco/img/detail1_tablet.jpg 1x, https://of.worldota.net/travel/monaco/img/detail1_tablet@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail1_tablet@3x.jpg 3x">
            <img class="details_image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco/img/detail1.jpg" alt="Порт" srcset="https://of.worldota.net/travel/monaco/img/detail1@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail1@3x.jpg 3x">
          </picture>
          <figcaption class="details__legend">
            <svg class="details__icon" width="25" height="25">
              <use xlink:href="#icon-geracle"></use>
            </svg>
            <p class="details__text">По легенде Геракл принимал участие в постройке Монако.</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="details__container">
      <div class="details__item">
        <figure class="details__picture">
          <picture>
            <source media="(min-width: 1200px)" srcset="https://of.worldota.net/travel/monaco/img/detail2_desktop.jpg 1x, https://of.worldota.net/travel/monaco/img/detail2_desktop@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail2_desktop@3x.jpg 3x">
            <source media="(min-width: 768px)" srcset="https://of.worldota.net/travel/monaco/img/detail2_tablet.jpg 1x, https://of.worldota.net/travel/monaco/img/detail2_tablet@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail2_tablet@3x.jpg 3x">
            <img class="details_image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco/img/detail2.jpg" alt="Порт" srcset="https://of.worldota.net/travel/monaco/img/detail2@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail2@3x.jpg 3x">
          </picture>
          <figcaption class="details__legend">
            <div class="details__icons">
              <div class="details__value">
                <svg class="details__icon-value" width="26" height="26">
                  <use xlink:href="#icon-sun2"></use>
                </svg>
                <span>+25°</span>
              </div>
              <div class="details__value">
                <svg class="details__icon-value" width="16" height="26">
                  <use xlink:href="#icon-pin"></use>
                </svg>
                <span>2км²</span>
              </div>
            </div>
            <p class="details__text">Площадь Княжества всего 2 км² — сможешь обойти всё государство за несколько часов.</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="details__container">
      <div class="details__item">
        <figure class="details__picture">
          <picture>
            <source media="(min-width: 1200px)" srcset="https://of.worldota.net/travel/monaco/img/detail3_desktop.jpg 1x, https://of.worldota.net/travel/monaco/img/detail3_desktop@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail3_desktop@3x.jpg 3x">
            <source media="(min-width: 768px)" srcset="https://of.worldota.net/travel/monaco/img/detail3_tablet.jpg 1x, https://of.worldota.net/travel/monaco/img/detail3_tablet@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail3_tablet@3x.jpg 3x">
            <img class="details_image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco/img/detail3.jpg" alt="Порт" srcset="https://of.worldota.net/travel/monaco/img/detail3@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail3@3x.jpg 3x">
          </picture>
          <figcaption class="details__legend">
            <svg class="details__icon" width="40" height="40">
              <use xlink:href="#icon-train1"></use>
            </svg>
            <p class="details__text">Вокзал и большая часть железной дороги находится под землёй.</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="details__container">
      <div class="details__item">
        <figure class="details__picture">
          <picture>
            <source media="(min-width: 1200px)" srcset="https://of.worldota.net/travel/monaco/img/detail4_desktop.jpg 1x, https://of.worldota.net/travel/monaco/img/detail4_desktop@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail4_desktop@3x.jpg 3x">
            <source media="(min-width: 768px)" srcset="https://of.worldota.net/travel/monaco/img/detail4_tablet.jpg 1x, https://of.worldota.net/travel/monaco/img/detail4_tablet@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail4_tablet@3x.jpg 3x">
            <img class="details_image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco/img/detail4.jpg" alt="Порт" srcset="https://of.worldota.net/travel/monaco/img/detail4@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail4@3x.jpg 3x">
          </picture>
          <figcaption class="details__legend">
            <svg class="details__icon" width="55" height="40">
              <use xlink:href="#icon-king-crown-white"></use>
            </svg>
            <p class="details__text">Династия Гримальди правит государством с XIII века — уже больше 700 лет.</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="details__container">
      <div class="details__item">
        <figure class="details__picture">
          <picture>
            <source media="(min-width: 1200px)" srcset="https://of.worldota.net/travel/monaco/img/detail5_desktop.jpg 1x, https://of.worldota.net/travel/monaco/img/detail5_desktop@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail5_desktop@3x.jpg 3x">
            <source media="(min-width: 768px)" srcset="https://of.worldota.net/travel/monaco/img/detail5_tablet.jpg 1x, https://of.worldota.net/travel/monaco/img/detail5_tablet@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail5_tablet@3x.jpg 3x">
            <img class="details_image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco/img/detail5.jpg" alt="Порт" srcset="https://of.worldota.net/travel/monaco/img/detail5@2x.jpg 2x, https://of.worldota.net/travel/monaco/img/detail5@3x.jpg 3x">
          </picture>
          <figcaption class="details__legend">
            <svg class="details__icon" width="43" height="40">
              <use xlink:href="#icon-submarine"></use>
            </svg>
            <p class="details__text">У музея океанографии стоит желтая субмарина, на которой великий Кусто изучал морские глубины.</p>
          </figcaption>
        </figure>
      </div>
    </div>

  </div>
  <div class="details__controls">
    <div class="details__arrow details__arrow--prev">
      <svg class="details__icon" width="60" height="60">
        <use xlink:href="#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="details__arrow details__arrow--next">
      <svg class="details__icon" width="60" height="60">
        <use xlink:href="#icon-arrow-right"></use>
      </svg>
    </div>
  </div>

</section>
