<!-- Первый -->
<section class="details">
  <h2 class="details__caption">Неповторимые <span>детали</span></h2>
  <div class="details__slider slider">
    <div class="slider__item">
      <div class="slider__image-cover">
        <picture>
          <img class="slider__image" data-object-fit="cover" src="https://of.worldota.net/travel/abu_dhabi_project/static/img/Louvre.jpg" alt="Лувр Абу-Даби" srcset="https://of.worldota.net/travel/abu_dhabi_project/static/img/Louvre@2x.jpg 2x, https://of.worldota.net/travel/abu_dhabi_project/static/img/Louvre@3x.jpg 3x">
        </picture>
      </div>
      <div class="slider__context-cover">
        <h3 class="slider__caption">Лувр Абу-Даби</h3>
        <p class="slider__text">Филиал парижского музея стоит посетить уже ради того, чтобы увидеть, как рассеивается
          свет через ажурный купол,&nbsp;&mdash; зрелище неописуемое! Как только сердце перестанет стучать
          от&nbsp;восторга, вызванного зданием музея, переходи к&nbsp;знакомству с&nbsp;экспозицией&nbsp;&mdash;
          здесь собраны звёзды мира искусства.
        </p>
      </div>
    </div>

    <div class="slider__item">
      <div class="slider__image-cover">
        <picture>
          <img class="slider__image" data-object-fit="cover" src="https://of.worldota.net/travel/abu_dhabi_project/static/img/mosque.jpg" alt="Мечеть Шейха Зайда" srcset="https://of.worldota.net/travel/abu_dhabi_project/static/img/mosque@2x.jpg 2x, https://of.worldota.net/travel/abu_dhabi_project/static/img/mosque@3x.jpg 3x">
        </picture>
      </div>
      <div class="slider__context-cover">
        <h3 class="slider__caption">Мечеть Шейха Зайда</h3>
        <p class="slider__text">Это не только одна из крупнейших мечетей мира, но и вторая по популярности
          достопримечательность среди всех туристических направлений Земли (дважды занимала это место в рейтинге
          TripAdvisor). Самое-самое здесь всё: ковёр, люстра, отношение к туристам. К посещению — обязательна, вход —
          свободный.
        </p>
      </div>
    </div>

    <div class="slider__item">
      <div class="slider__image-cover">
        <picture>
          <img class="slider__image" data-object-fit="cover" src="https://of.worldota.net/travel/abu_dhabi_project/static/img/khili.jpg" alt="Археологические сады Хили" srcset="https://of.worldota.net/travel/abu_dhabi_project/static/img/khili@2x.jpg 2x, https://of.worldota.net/travel/abu_dhabi_project/static/img/khili@3x.jpg 3x">
        </picture>
      </div>
      <div class="slider__context-cover">
        <h3 class="slider__caption">Археологические сады Хили</h3>
        <p class="slider__text">Старинные крепости, древние гробницы, руины и&nbsp;другие следы поселения Бронзового
          века в&nbsp;тенистых садах&nbsp;&mdash; описание этой достопримечательности звучит как сценарий
          к&nbsp;приключенческому фильму. Поэтому скорее клади в&nbsp;чемодан широкополую шляпу, кожаную куртку
          и&nbsp;кнут и&nbsp;отправляйся на&nbsp;поиски утраченных реликвий.
        </p>
      </div>
    </div>
  </div>
  <div class="rest__navigation">
    <button class="rest__prev"></button>
    <span class="rest__position">1/3</span>
    <button class="rest__next"></button>
  </div>
</section>
