<!-- Первый -->
<section class="details" id="details">
  <h2 class="details__caption">Неповторимые <span>детали</span></h2>
  <div class="details__slider-for">
    <div class="details__container">
      <div class="details__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="img/detail0_desktop.jpg 1x, img/detail0_desktop@2x.jpg 2x, img/detail0_desktop@3x.jpg 3x">
          <source media="(min-width: 768px)" srcset="img/detail0_tablet.jpg 1x, img/detail0_tablet@2x.jpg 2x, img/detail0_tablet@3x.jpg 3x">
          <img class="slider__image" data-object-fit="cover" src="img/detail0.jpg" alt="Порт" srcset="img/detail0@2x.jpg 2x, img/detail0@3x.jpg 3x">
        </picture>
      </div>
    </div>
    <div class="details__container">
      <div class="details__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="img/detail1_desktop.jpg 1x, img/detail1_desktop@2x.jpg 2x, img/detail1_desktop@3x.jpg 3x">
          <source media="(min-width: 768px)" srcset="img/detail1_tablet.jpg 1x, img/detail1_tablet@2x.jpg 2x, img/detail1_tablet@3x.jpg 3x">
          <img class="slider__image" data-object-fit="cover" src="img/detail1.jpg" alt="Порт" srcset="img/detail1@2x.jpg 2x, img/detail1@3x.jpg 3x">
        </picture>
      </div>
    </div>
    <div class="details__container">
      <div class="details__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="img/detail2_desktop.jpg 1x, img/detail2_desktop@2x.jpg 2x, img/detail2_desktop@3x.jpg 3x">
          <source media="(min-width: 768px)" srcset="img/detail2_tablet.jpg 1x, img/detail2_tablet@2x.jpg 2x, img/detail2_tablet@3x.jpg 3x">
          <img class="slider__image" data-object-fit="cover" src="img/detail2.jpg" alt="Порт" srcset="img/detail2@2x.jpg 2x, img/detail2@3x.jpg 3x">
        </picture>
      </div>
    </div>
    <div class="details__container">
      <div class="details__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="img/detail3_desktop.jpg 1x, img/detail3_desktop@2x.jpg 2x, img/detail3_desktop@3x.jpg 3x">
          <source media="(min-width: 768px)" srcset="img/detail3_tablet.jpg 1x, img/detail3_tablet@2x.jpg 2x, img/detail3_tablet@3x.jpg 3x">
          <img class="slider__image" data-object-fit="cover" src="img/detail3.jpg" alt="Порт" srcset="img/detail3@2x.jpg 2x, img/detail3@3x.jpg 3x">
        </picture>
      </div>
    </div>
    <div class="details__container">
      <div class="details__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="img/detail4_desktop.jpg 1x, img/detail4_desktop@2x.jpg 2x, img/detail4_desktop@3x.jpg 3x">
          <source media="(min-width: 768px)" srcset="img/detail4_tablet.jpg 1x, img/detail4_tablet@2x.jpg 2x, img/detail4_tablet@3x.jpg 3x">
          <img class="slider__image" data-object-fit="cover" src="img/detail4.jpg" alt="Порт" srcset="img/detail4@2x.jpg 2x, img/detail4@3x.jpg 3x">
        </picture>
      </div>
    </div>
    <div class="details__container">
      <div class="details__item">
        <picture>
          <source media="(min-width: 1200px)" srcset="img/detail5_desktop.jpg 1x, img/detail5_desktop@2x.jpg 2x, img/detail5_desktop@3x.jpg 3x">
          <source media="(min-width: 768px)" srcset="img/detail5_tablet.jpg 1x, img/detail5_tablet@2x.jpg 2x, img/detail5_tablet@3x.jpg 3x">
          <img class="slider__image" data-object-fit="cover" src="img/detail5.jpg" alt="Порт" srcset="img/detail5@2x.jpg 2x, img/detail5@3x.jpg 3x">
        </picture>
      </div>
    </div>

  </div>
  <div class="details__navigation">
    <button class="details__prev"></button>
    <span class="details__position">1/3</span>
    <button class="details__next"></button>
  </div>
</section>
