<footer class="footer">
  <h2 class="footer__caption">Хочу роскошный отпуск!</h2>
  <div class="footer__search">
    //= search.html
  </div>

<!--
  <div class="footer__social social">
    <ul class="social__list">
      <li class="social__item social__item--facebook">
        <a class="social__link" href="#" target="_blank">
          <span class="visually-hidden"> Facebook</span>
          <svg width="37" height="37"><use xlink:href="#icon-facebook"></use></svg>
        </a>
      </li>
      <li class="social__item social__item--twitter">
        <a class="social__link" href="#" target="_blank">
          <span class="visually-hidden"> Facebook</span>
          <svg width="37" height="37"><use xlink:href="#icon-twitter"></use></svg>
        </a>
      </li>
      <li class="social__item social__item--vkontakte">
        <a class="social__link" href="#" target="_blank">
          <span class="visually-hidden">Youtube</span>
          <svg width="37" height="37"><use xlink:href="#icon-youtube"></use></svg>
        </a>
      </li>
      <li class="social__item social__item--instagram">
        <a class="social__link" href="#" target="_blank">
          <span class="visually-hidden">Instagram</span>
          <svg width="37" height="37"><use xlink:href="#icon-instagram"></use></svg>
        </a>
      </li>
    </ul>
  </div>
-->
</footer>
