<header class="header">
  <div class="header__content">
    <div class="header__top">
      <div class="header__logo-wrapper">
        <div class="header__logo-ostrovok"></div>
        <menu>

        </menu>
        <div class="header__logo-monaco"></div>
      </div>
      <h1 class="header__caption">Почувствуй роскошь момента</h1>
    </div>
    <div class="header__search">
      //= search.html
    </div>
    <div class="header__scroll-down">
      <p class="header__text">Чтобы узнать больше о Монако</p>
      <p class="header__text">прокрутите вниз</p>
      <button class="header__btn"></button>
    </div>
    <p class="header__description">Монако — олицетворение изысканности, роскоши и комфорта. Здесь как и 700 лет назад правят князья, звезда Голливуда стала принцессой, а время останавливается, чтобы ты успел поймать момент и насладиться — шикарными видами, лазурной гладью воды,  вкусными блюдами и сводящими с ума ароматами роз, которые так любила принцесса.</p>
  </div>
</header>
