<header class="header">
  <div class="header__content">
    <div class="header__top">
      <div class="header__logo-wrapper">
        <div class="header__logo header__logo--ostrovok"></div>
        <menu class="header__menu">

        </menu>
        <div class="header__logo header__logo--monaco"></div>
      </div>
      <h1 class="header__title">Монако</h1>
      <h2 class="header__caption">Почувствуй роскошь момента</h2>
    </div>
    <div class="header__search">
      //= search.html
    </div>
    <div class="header__scroll-down">
      <p class="header__text">Чтобы узнать больше о Монако</p>
      <p class="header__text">прокрутите вниз</p>
      <button class="header__btn"></button>
    </div>
  </div>
</header>
