<header class="header">
  <div class="header__content">
    <div class="header__top">
      <div class="header__logo-wrapper">
        <div class="header__logo-ostrovok"></div>
        <menu>

        </menu>
        <div class="header__logo-monaco"></div>
      </div>
      <h1 class="header__caption">Почувствуй роскошь момента</h1>
    </div>
    <div class="header__search">
      <form class="search">
        <div class="search__dates">
          <div class="search__btn search__btn--check check">
            <span class="search__label">Заселение</span>
            <input type="text" class="search__date check-calendar" readonly="">
          </div>
          <div class="search__btn search__btn--eviction eviction">
            <span class="search__label">Выселение</span>
            <input type="text" class="search__date eviction-calendar" readonly="">
          </div>
        </div>

        <div class="search__guest">
          <button class="search__btn guest" type="button">
            <span class="search__label">Номер для</span>
            <span class="search__guest-sum full-sum">2 гостей</span>
          </button>
          <div class="search__guest-change">
            <div class="search__guest-wrapper">
              <div class="search__guest-item">
                <span class="search__guest-name">Взрослые:</span>
                <div class="search__guest-count-cover">
                  <button class="search__guest-btn adult-minus" type="button">
                  </button>
                  <span class="search__guest-count adult-sum">2</span>
                  <button class="search__guest-btn search__guest-btn--plus adult-plus" type="button">
                  </button>
                </div>
              </div>
              <div class="search__guest-item">
                <span class="search__guest-name">Дети:</span>
                <div class="search__guest-count-cover">
                  <button class="search__guest-btn child-minus" type="button" disabled="">
                  </button>
                  <span class="search__guest-count child-sum">0</span>
                  <button class="search__guest-btn search__guest-btn--plus child-plus" type="button">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="search__goto" type="button">
          <span class="search__goto-text">Найти отель</span>
        </button>
      </form>
    </div>
    <div class="header__scroll-down">
      <p class="header__text">Чтобы узнать больше о Монако</p>
      <p class="header__text">прокрутите вниз</p>
      <button class="header__btn"></button>
    </div>
  </div>
</header>
