<script type="text/javascript" src="js/libraries/jquery.min.js"></script>
<script type="text/javascript" src="js/libraries/moment.min.js"></script>
<script type="text/javascript" src="js/libraries/instafeed.min.js"></script>
<script type="text/javascript" src="js/libraries/svg4everybody.min.js"></script>
<script type="text/javascript" src="js/libraries/datepicker.min.js"></script>
<script type="text/javascript" src="js/libraries/slick.min.js"></script>
<script type="text/javascript" src="js/libraries/object-fit-polyfill.js"></script>
<script type="text/javascript" src="js/libraries/picturefill.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
