<script src="js/libraries/jquery.min.js" defer=""></script>
<script src="js/libraries/moment.min.js" defer=""></script>
<script src="js/libraries/instafeed.min.js" defer=""></script>
<script src="js/libraries/svg4everybody.min.js" defer=""></script>
<script src="js/libraries/datepicker.min.js" defer=""></script>
<script src="js/libraries/slick.min.js" defer=""></script>
<script src="js/libraries/object-fit-polyfill.js" defer=""></script>
<script src="js/libraries/picturefill.min.js" defer=""></script>
<script src="js/main.min.js" defer=""></script>
