<section class="lifehack">
  <h2 class="lifehack__caption">Лайфхак <span>Что не стоит делать в Монако</span></h2>
  <div class="lifehack__slider">

    <div class="lifehack__item">
      <div class="lifehack__container">
        <div class="lifehack__icon lifehack__icon--car"></div>
        <span class="lifehack__name">Брать машину в аренду в Ницце</span>
        <p class="lifehack__text">Общественный транспорт ходит часто и стоит не дорого.
          С машиной придётся искать парковку, а в самые интересные места на ней всё равно не попасть — в исторические районы города въезд разрешён только автомобилям с местными номерами.</p>
      </div>
    </div>

    <div class="lifehack__item">
      <div class="lifehack__container">
        <div class="lifehack__icon lifehack__icon--time"></div>
        <span class="lifehack__name lifehack__name--small">Приезжать на один день</span>
        <p class="lifehack__text">В Монако приезжает очень много туристов из Ниццы, поэтому утром и днём бывает многолюдно. Чтобы узнать город по-настоящему, лучше забронировать отель на несколько ночей и погулять по городу в вечернее время — ощущения непередаваемые!</p>
      </div>
    </div>

    <div class="lifehack__item">
      <div class="lifehack__container">
        <div class="lifehack__icon lifehack__icon--docum"></div>
        <span class="lifehack__name">Оставлять паспорт в номере</span>
        <p class="lifehack__text">В казино Монако пускают только тех, кому уже исполнился 21 год. Чтобы не остаться у закрытых дверей и увидеть одну из главных достопримечательностей изнутри, паспорт в номере оставлять не стоит.</p>
      </div>
    </div>

    <div class="lifehack__item">
      <div class="lifehack__container">
        <div class="lifehack__icon lifehack__icon--docum"></div>
        <span class="lifehack__name">Ходить только пешком</span>
        <p class="lifehack__text">Вдоль побережья ходит водный трамвайчик — Bateau Bus. На нём удобно добираться с одного конца княжества на другой, к тому же это самый простой способ оценить виды на город с воды. Стоимость билета от 1,5 €.</p>
      </div>
    </div>

  </div>
</section>
