<section class="lifehack">
  <h2 class="lifehack__caption">Лайфхак<br> <span>Что не стоит делать в&nbsp;Монако</span></h2>
  <div class="lifehack__slider">

    <div class="lifehack__container">
      <div class="lifehack__item">
        <div class="lifehack__icon">
          <svg class="lifehack__icon-image" width="40" height="40">
            <use xlink:href="#icon-car2"></use>
          </svg>
        </div>
        <div class="lifehack__wrap">
          <h3 class="lifehack__name">Брать машину в&nbsp;аренду&nbsp;в&nbsp;Ницце</h3>
          <p class="lifehack__text">Общественный транспорт ходит часто и стоит не дорого.
            С машиной придётся искать парковку, а в самые интересные места на ней всё равно не попасть — в исторические районы города въезд разрешён только автомобилям с местными номерами.</p>
        </div>
      </div>
    </div>

    <div class="lifehack__container">
      <div class="lifehack__item">
        <div class="lifehack__icon">
          <svg class="lifehack__icon-image" width="40" height="40">
            <use xlink:href="#icon-24-hours"></use>
          </svg>
        </div>
        <div class="lifehack__wrap">
          <h3 class="lifehack__name lifehack__name--small">Приезжать на&nbsp;один&nbsp;день</h3>
          <p class="lifehack__text">В Монако приезжает очень много туристов из Ниццы, поэтому утром и днём бывает многолюдно. Чтобы узнать город по-настоящему, лучше забронировать отель на несколько ночей и погулять по городу в вечернее время — ощущения непередаваемые!</p>
        </div>
      </div>
    </div>

    <div class="lifehack__container">
      <div class="lifehack__item">
        <div class="lifehack__icon">
          <svg class="lifehack__icon-image" width="40" height="40">
            <use xlink:href="#icon-passport"></use>
          </svg>
        </div>
        <div class="lifehack__wrap">
          <h3 class="lifehack__name">Оставлять паспорт&nbsp;в&nbsp;номере</h3>
          <p class="lifehack__text">В казино Монако пускают только тех, кому уже исполнился 21 год. Чтобы не остаться у закрытых дверей и увидеть одну из главных достопримечательностей изнутри, паспорт в номере оставлять не стоит.</p>
        </div>
      </div>
    </div>

    <div class="lifehack__container">
      <div class="lifehack__item">
        <div class="lifehack__icon">
          <svg class="lifehack__icon-image" width="40" height="40">
            <use xlink:href="#icon-pedestrian"></use>
          </svg>
        </div>
        <div class="lifehack__wrap">
          <h3 class="lifehack__name">Ходить только пешком</h3>
          <p class="lifehack__text">Вдоль побережья ходит водный трамвайчик — Bateau Bus. На нём удобно добираться с одного конца княжества на другой, к тому же это самый простой способ оценить виды на город с воды. Стоимость билета от 1,5 €.</p>
        </div>
      </div>
    </div>

  </div>
</section>
