<form class="search">
  <div class="search__dates">
    <div class="search__btn search__btn--check check">
      <div class="search__icon">
        <svg class="search__icon-date" width="16" height="16">
          <use xlink:href="#icon-calendar-in"></use>
        </svg>
      </div>
      <div class="search__wrap">
        <label class="search__label">Заселение
          <input type="text" class="search__date check-calendar" readonly="">
        </label>
      </div>
    </div>
    <div class="search__btn search__btn--eviction eviction">
      <div class="search__icon">
        <svg class="search__icon-date" width="16" height="16">
          <use xlink:href="#icon-calendar-out"></use>
        </svg>
      </div>
      <div class="search__wrap">
        <label class="search__label">Выселение
          <input type="text" class="search__date eviction-calendar" readonly="">
        </label>
      </div>
    </div>
  </div>

  <div class="search__guest">
    <button class="search__btn guest" type="button">
      <div class="search__icon">
        <svg class="search__icon-human" width="16" height="17">
          <use xlink:href="#icon-human"></use>
        </svg>
      </div>
      <div class="search__wrap">
        <span class="search__label">Номер для</span>
        <span class="search__guest-sum full-sum">2 гостей</span>
      </div>
    </button>
    <div class="search__guest-change">
      <div class="search__guest-wrapper">
        <div class="search__guest-item">
          <span class="search__guest-name">Взрослые:</span>
          <div class="search__guest-count-cover">
            <button class="search__guest-btn adult-minus" type="button">
            </button>
            <span class="search__guest-count adult-sum">2</span>
            <button class="search__guest-btn search__guest-btn--plus adult-plus" type="button">
            </button>
          </div>
        </div>
        <div class="search__guest-item">
          <span class="search__guest-name">Дети:</span>
          <div class="search__guest-count-cover">
            <button class="search__guest-btn child-minus" type="button" disabled="">
            </button>
            <span class="search__guest-count child-sum">0</span>
            <button class="search__guest-btn search__guest-btn--plus child-plus" type="button">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="search__goto" type="button">
    <span class="search__goto-text">Найти отель</span>
  </button>
</form>
