<section class="stop">
  <h3 class="stop__caption">Думаем <span>где&nbsp;остановиться</span></h3>
  <ul class="stop__list">
    <li class="stop__item">
      <a href="https://ostrovok.ru/hotel/united_arab_emirates/monaco/mid7491979/al_raha_beach_hotel/?q=453" class="stop__container" target="_blank">
        <div class="stop__rating">
          <svg class="stop__rating-icon" width="16" height="15">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star-gray"></use>
          </svg>
        </div>
        <span class="stop__name">Le Meridien Beach Plaza</span>
        <div class="stop__image-cover">
          <picture>
            <img class="stop__image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco_project/static/img/Al-Raha-Beach-Hotel.jpg" alt="Al Raha Beach Hotel" srcset="https://of.worldota.net/travel/monaco_project/static/img/Al-Raha-Beach-Hotel@2x.jpg 2x, https://of.worldota.net/travel/monaco_project/static/img/Al-Raha-Beach-Hotel@3x.jpg 3x">
          </picture>
          <div class="stop__price">
            <span class="stop__price-sum">от 17 018 ₽</span>
          </div>
        </div>
      </a>
    </li>
    <li class="stop__item">
      <a href="https://ostrovok.ru/hotel/united_arab_emirates/monaco/mid7399870/city_seasons_al_hamra_hotel/?q=453" class="stop__container" target="_blank">
        <div class="stop__rating">
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star-gray"></use>
          </svg>
        </div>
        <span class="stop__name">Fairmont Monte Carlo</span>
        <div class="stop__image-cover">
          <picture>
            <img class="stop__image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco_project/static/img/City-Seasons-Al-Hamra-Hotel.jpg" alt="City Seasons Al Hamra Hotel" srcset="https://of.worldota.net/travel/monaco_project/static/img/City-Seasons-Al-Hamra-Hotel@2x.jpg 2x, https://of.worldota.net/travel/monaco_project/static/img/City-Seasons-Al-Hamra-Hotel@3x.jpg 3x">
          </picture>
          <div class="stop__price">
            <span class="stop__price-sum">от 16 402 ₽</span>
          </div>
        </div>
      </a>
    </li>
    <li class="stop__item">
      <a href="https://ostrovok.ru/hotel/united_arab_emirates/monaco/mid7438627/shangrila_hotel_qaryat_al_beri_3/?q=453" class="stop__container" target="_blank">
        <div class="stop__rating">
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
        </div>
        <span class="stop__name">Hôtel Hermitage Monte-Carlo</span>
        <div class="stop__image-cover">
          <picture>
            <img class="stop__image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco_project/static/img/Shangri-la-Hotel-Qaryat-Al-Beri,-Abu-Dhabi.jpg" alt="Shangri-la Hotel Qaryat Al Beri, Abu Dhabi" srcset="https://of.worldota.net/travel/monaco_project/static/img/Shangri-la-Hotel-Qaryat-Al-Beri,-Abu-Dhabi@2x.jpg 2x, https://of.worldota.net/travel/monaco_project/static/img/Shangri-la-Hotel-Qaryat-Al-Beri,-Abu-Dhabi@3x.jpg 3x">
          </picture>
          <div class="stop__price">
            <span class="stop__price-sum">от 26 642 ₽</span>
          </div>
        </div>
      </a>
    </li>
    <li class="stop__item">
      <a href="https://ostrovok.ru/hotel/united_arab_emirates/monaco/mid7840889/the_st_regis_saadiyat_island_resort/?q=453" class="stop__container" target="_blank">
        <div class="stop__rating">
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star-gray"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star-gray"></use>
          </svg>
        </div>
        <span class="stop__name">Hotel Novotel Monte Carlo</span>
        <div class="stop__image-cover">
          <picture>
            <img class="stop__image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco_project/static/img/The-St.-Regis-Saadiyat-Island-Resort,-Abu-Dhabi.jpg" alt="The St. Regis Saadiyat Island Resort, Abu Dhabi" srcset="https://of.worldota.net/travel/monaco_project/static/img/The-St.-Regis-Saadiyat-Island-Resort,-Abu-Dhabi@2x.jpg 2x, https://of.worldota.net/travel/monaco_project/static/img/The-St.-Regis-Saadiyat-Island-Resort,-Abu-Dhabi@3x.jpg 3x">
          </picture>
          <div class="stop__price">
            <span class="stop__price-sum">от 26 642 ₽</span>
          </div>
        </div>
      </a>
    </li>
    <li class="stop__item">
      <a href="https://ostrovok.ru/hotel/united_arab_emirates/monaco/mid7440302/fairmont_bab_al_bahr_2/?q=453" class="stop__container" target="_blank">
        <div class="stop__rating">
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
        </div>
        <span class="stop__name">Hôtel de Paris Monte-Carlo</span>
        <div class="stop__image-cover">
          <picture>
            <img class="stop__image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco_project/static/img/Fairmont-Bab-Al-Bahr.jpg" alt="Fairmont Bab Al Bahr" srcset="https://of.worldota.net/travel/monaco_project/static/img/Fairmont-Bab-Al-Bahr@2x.jpg 2x, https://of.worldota.net/travel/monaco_project/static/img/Fairmont-Bab-Al-Bahr@3x.jpg 3x">
          </picture>
          <div class="stop__price">
            <span class="stop__price-sum">43 091 ₽</span>
          </div>
        </div>
      </a>
    </li>
    <li class="stop__item">
      <a href="https://ostrovok.ru/hotel/united_arab_emirates/monaco/mid6430231/dusit_thani_monaco/?q=453" class="stop__container" target="_blank">
        <div class="stop__rating">
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star-gray"></use>
          </svg>
        </div>
        <span class="stop__name"> Hotel Monte-Carlo Bay</span>
        <div class="stop__image-cover">
          <picture>
            <img class="stop__image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco_project/static/img/Dusit-Thani-Residences-Abu-Dhabi.jpg" alt="Dusit Thani Residences Abu Dhabi" srcset="https://of.worldota.net/travel/monaco_project/static/img/Dusit-Thani-Residences-Abu-Dhabi@2x.jpg 2x, https://of.worldota.net/travel/monaco_project/static/img/Dusit-Thani-Residences-Abu-Dhabi@3x.jpg 3x">
          </picture>
          <div class="stop__price">
            <span class="stop__price-sum">от 19 289 ₽</span>
          </div>
        </div>
      </a>
    </li>
    <li class="stop__item">
      <a href="https://ostrovok.ru/hotel/united_arab_emirates/monaco/mid7490439/millennium_hotel_monaco/?q=453" class="stop__container" target="_blank">
        <div class="stop__rating">
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star-gray"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star-gray"></use>
          </svg>
        </div>
        <span class="stop__name">Columbus Monte-Carlo</span>
        <div class="stop__image-cover">
          <picture>
            <img class="stop__image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco_project/static/img/Corniche-Hotel-Abu-Dhabi.jpg" alt="Corniche Hotel Abu Dhabi" srcset="https://of.worldota.net/travel/monaco_project/static/img/Corniche-Hotel-Abu-Dhabi@2x.jpg 2x, https://of.worldota.net/travel/monaco_project/static/img/Corniche-Hotel-Abu-Dhabi@3x.jpg 3x">
          </picture>
          <div class="stop__price">
            <span class="stop__price-sum">от 11 946 ₽</span>
          </div>
        </div>
      </a>
    </li>
    <li class="stop__item">
      <a href="https://ostrovok.ru/hotel/united_arab_emirates/monaco/mid6662416/al_seef_resort_spa_by_andalus/?q=453" class="stop__container" target="_blank">
        <div class="stop__rating">
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
        </div>
        <span class="stop__name">Hôtel Monte Carlo Beach</span>
        <div class="stop__image-cover">
          <picture>
            <img class="stop__image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco_project/static/img/Al-Seef-Resort-&-Spa-by-Andalus.jpg" alt="Al Seef Resort & Spa by Andalus" srcset="https://of.worldota.net/travel/monaco_project/static/img/Al-Seef-Resort-&-Spa-by-Andalus@2x.jpg 2x, https://of.worldota.net/travel/monaco_project/static/img/Al-Seef-Resort-&-Spa-by-Andalus@3x.jpg 3x">
          </picture>
          <div class="stop__price">
            <span class="stop__price-sum">от 27 024 ₽</span>
          </div>
        </div>
      </a>
    </li>
    <li class="stop__item">
      <a href="https://ostrovok.ru/hotel/united_arab_emirates/monaco/mid6662416/al_seef_resort_spa_by_andalus/?q=453" class="stop__container" target="_blank">
        <div class="stop__rating">
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star"></use>
          </svg>
          <svg class="stop__rating-icon" width="16" height="16">
            <use xlink:href="#icon-star-gray"></use>
          </svg>
        </div>
        <span class="stop__name">Hotel Port Palace</span>
        <div class="stop__image-cover">
          <picture>
            <img class="stop__image" data-object-fit="cover" src="https://of.worldota.net/travel/monaco_project/static/img/Al-Seef-Resort-&-Spa-by-Andalus.jpg" alt="Al Seef Resort & Spa by Andalus" srcset="https://of.worldota.net/travel/monaco_project/static/img/Al-Seef-Resort-&-Spa-by-Andalus@2x.jpg 2x, https://of.worldota.net/travel/monaco_project/static/img/Al-Seef-Resort-&-Spa-by-Andalus@3x.jpg 3x">
          </picture>
          <div class="stop__price">
            <span class="stop__price-sum">от 17 895 ₽</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>
