<section class="stop" id="stop">
  <h3 class="stop__caption">Думаем <span>где&nbsp;остановиться</span></h3>
  <div class="stop__slider">
    <div class="stop__container">
      <div class="stop__item">
        <a href="https://ostrovok.ru/hotel/monaco/monaco-ville/mid7540063/le_meridien_beach_plaza/" target="_blank">
          <div class="stop__rating">
            <svg class="stop__rating-icon" width="16" height="15">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star-gray"></use>
            </svg>
          </div>
          <h4 class="stop__name">Le Meridien Beach Plaza</h4>
          <div class="stop__image-cover">
            <picture>
              <img class="stop__image" data-object-fit="cover" src="img/le_meridien_beach_plaza.jpg" alt="Le Meridien Beach Plaza" srcset="img/le_meridien_beach_plaza@2x.jpg 2x, img/le_meridien_beach_plaza@3x.jpg 3x">
            </picture>
            <div class="stop__price">
              <span class="stop__price-sum">от 17 018 ₽</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="stop__container">
      <div class="stop__item">
        <a href="https://ostrovok.ru/hotel/monaco/monaco-ville/mid7540061/fairmont_monte_carlo/" target="_blank">
          <div class="stop__rating">
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star-gray"></use>
            </svg>
          </div>
          <h4 class="stop__name">Fairmont Monte Carlo</h4>
          <div class="stop__image-cover">
            <picture>
              <img class="stop__image" data-object-fit="cover" src="img/fairmont_monte_carlo.jpg" alt="City Seasons Al Hamra Hotel" srcset="img/fairmont_monte_carlo.jpg@2x.jpg 2x, img/fairmont_monte_carlo.jpg@3x.jpg 3x">
            </picture>
            <div class="stop__price">
              <span class="stop__price-sum">от 16 402 ₽</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="stop__container">
      <div class="stop__item">
        <a href="https://ostrovok.ru/hotel/monaco/monaco-ville/mid7745308/hotel_hermitage_montecarlo/" target="_blank">
          <div class="stop__rating">
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
          </div>
          <h4 class="stop__name">Hôtel Hermitage Monte-Carlo</h4>
          <div class="stop__image-cover">
            <picture>
              <img class="stop__image" data-object-fit="cover" src="img/hotel_hermitage_monte_carlo.jpg" alt="Hôtel Hermitage Monte-Carlo" srcset="img/hotel_hermitage_monte_carlo@2x.jpg 2x, img/hotel_hermitage_monte_carlo@3x.jpg 3x">
            </picture>
            <div class="stop__price">
              <span class="stop__price-sum">от 26 642 ₽</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="stop__container">
      <div class="stop__item">
        <a href="https://ostrovok.ru/hotel/monaco/" target="_blank">
          <div class="stop__rating">
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star-gray"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star-gray"></use>
            </svg>
          </div>
          <h4 class="stop__name">Hotel Novotel Monte Carlo</h4>
          <div class="stop__image-cover">
            <picture>
              <img class="stop__image" data-object-fit="cover" src="img/hotel_novotel_monte_carlo.jpg" alt="Hotel Novotel Monte Carlo" srcset="img/hotel_novotel_monte_carlo@2x.jpg 2x, img/hotel_novotel_monte_carlo@3x.jpg 3x">
            </picture>
            <div class="stop__price">
              <span class="stop__price-sum">от 26 642 ₽</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="stop__container">
      <div class="stop__item">
        <a href="https://ostrovok.ru/hotel/monaco/monaco-ville/mid7745300/hotel_de_paris_montecarlo/" target="_blank">
          <div class="stop__rating">
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
          </div>
          <h4 class="stop__name">Hôtel de Paris Monte-Carlo</h4>
          <div class="stop__image-cover">
            <picture>
              <img class="stop__image" data-object-fit="cover" src="img/hotel_de_paris_monte_carlo.jpg" alt="Hôtel de Paris Monte-Carlo" srcset="img/hotel_de_paris_monte_carlo@2x.jpg 2x, img/hotel_de_paris_monte_carlo@3x.jpg 3x">
            </picture>
            <div class="stop__price">
              <span class="stop__price-sum">43 091 ₽</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="stop__container">
      <div class="stop__item">
        <a href="https://ostrovok.ru/hotel/monaco/monaco-ville/mid7745326/monte_carlo_bay_hotel/?guests=2&sid=7eccdc5b-df61-4989-bdd2-a1ae686d7f51" target="_blank">
          <div class="stop__rating">
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star-gray"></use>
            </svg>
          </div>
          <h4 class="stop__name">Hotel Monte-Carlo Bay</h4>
          <div class="stop__image-cover">
            <picture>
              <img class="stop__image" data-object-fit="cover" src="img/hotel_monte_carlo_bay.jpg" alt="Hotel Monte-Carlo Bay" srcset="img/hotel_monte_carlo_bay@2x.jpg 2x, img/hotel_monte_carlo_bay@3x.jpg 3x">
            </picture>
            <div class="stop__price">
              <span class="stop__price-sum">от 19 289 ₽</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="stop__container">
      <div class="stop__item">
        <a href="https://ostrovok.ru/hotel/monaco/monaco-ville/mid7540059/columbus_montecarlo/?guests=2&sid=c1e7496f-c9f4-4283-983f-dcf32fb9aa1e" target="_blank">
          <div class="stop__rating">
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star-gray"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star-gray"></use>
            </svg>
          </div>
          <h4 class="stop__name">Columbus Monte-Carlo</h4>
          <div class="stop__image-cover">
            <picture>
              <img class="stop__image" data-object-fit="cover" src="img/columbus_monte_carlo.jpg" alt="Columbus Monte-Carlo" srcset="img/columbus_monte_carlo@2x.jpg 2x, img/columbus_monte_carlo@3x.jpg 3x">
            </picture>
            <div class="stop__price">
              <span class="stop__price-sum">от 11 946 ₽</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="stop__container">
      <div class="stop__item">
        <a href="https://ostrovok.ru/hotel/france/lantosque/mid7793506/montecarlo_beach/" target="_blank">
          <div class="stop__rating">
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
          </div>
          <h4 class="stop__name">Hôtel Monte Carlo Beach</h4>
          <div class="stop__image-cover">
            <picture>
              <img class="stop__image" data-object-fit="cover" src="img/hotel_monte_carlo_beach.jpg" alt="Hôtel Monte Carlo Beach" srcset="img/hotel_monte_carlo_beach@2x.jpg 2x, img/hotel_monte_carlo_beach@3x.jpg 3x">
            </picture>
            <div class="stop__price">
              <span class="stop__price-sum">от 26 642 ₽</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="stop__container">
      <div class="stop__item">
        <a href="https://ostrovok.ru/hotel/monaco/monaco-ville/mid7463040/hotel_port_palace/" target="_blank">
          <div class="stop__rating">
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star"></use>
            </svg>
            <svg class="stop__rating-icon" width="16" height="16">
              <use xlink:href="#icon-star-gray"></use>
            </svg>
          </div>
          <h4 class="stop__name">Hotel Port Palace</h4>
          <div class="stop__image-cover">
            <picture>
              <img class="stop__image" data-object-fit="cover" src="img/hotel_port_palace.jpg" alt="Hotel Port Palace" srcset="img/hotel_port_palace@2x.jpg 2x, img/hotel_port_palace@3x.jpg 3x">
            </picture>
            <div class="stop__price">
              <span class="stop__price-sum">от 17 895 ₽</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
