<section class="transport">
  <h2 class="transport__caption">Выбираем <span>как&nbsp;добраться</span></h2>
  <div class="transport__slider">
    <div class="transport__container">
      <div class="transport__item">
        <h3 class="transport__type">Автобусом из Ниццы</h3>
        <div class="transport__parameters">
          <svg class="transport__icon" width="24" height="24">
            <use xlink:href="#icon-clock"></use>
          </svg>
          <span class="transport__value">45 минут</span>
          <svg class="transport__icon" width="24" height="24">
            <use xlink:href="#icon-euro"></use>
          </svg>
          <span class="transport__value">от 22€</span>
        </div>
        <ul class="transport__plan">
          <li class="transport__plan-item">Прилетаем в аэропорт Ниццы</li>
          <li class="transport__plan-item">Подходим к остановке у терминала 1 или 2</li>
          <li class="transport__plan-item">Дожидаемся автобуса №110 (ходит с 8:45 до 21:15 каждые полчаса)</li>
          <li class="transport__plan-item">Платим 22€ за билет (или 33€ за тариф туда-обратно)</li>
          <li class="transport__plan-item">Любуемся из окна Лазурным побережьем 45 минут</li>
          <li class="transport__plan-item">Выходим в центре Монако</li>
        </ul>
      </div>
    </div>

    <div class="transport__container transport__container--train">
      <div class="transport__item">
        <h3 class="transport__type">Поездом из Ниццы</h3>
        <div class="transport__parameters">
          <svg class="transport__icon" width="24" height="24">
            <use xlink:href="#icon-clock"></use>
          </svg>
          <span class="transport__value">45 минут</span>
          <svg class="transport__icon" width="24" height="24">
            <use xlink:href="#icon-euro"></use>
          </svg>
          <span class="transport__value">от 22€</span>
        </div>
        <ul class="transport__plan">
          <li class="transport__plan-item">Покупаем билет онлайн (3-4 € за билет)</li>
          <li class="transport__plan-item">Идём на вокзал «Nice Riquier»</li>
          <li class="transport__plan-item">Садимся на выбранный поезд</li>
          <li class="transport__plan-item">Проводим в пути 19 минут</li>
          <li class="transport__plan-item">Выходим на вокзале Монте-Карло!</li>
        </ul>
        <p class="transport__note">В Монако можно добраться на поезде из Ниццы, Парижа, Милана, других городов Франции и Италии</p>
      </div>
    </div>

    <div class="transport__container transport__container--helicopter">
      <div class="transport__item">
        <h3 class="transport__type">Вертолетом</h3>
        <div class="transport__parameters">
          <svg class="transport__icon" width="24" height="24">
            <use xlink:href="#icon-clock"></use>
          </svg>
          <span class="transport__value">45 минут</span>
          <svg class="transport__icon" width="24" height="24">
            <use xlink:href="#icon-euro"></use>
          </svg>
          <span class="transport__value">от 22€</span>
        </div>
        <ul class="transport__plan">
          <li class="transport__plan-item">Бронируем билеты на сайте Monacair (от 140 €)</li>
          <li class="transport__plan-item">Прилетаем в аэропорт Ниццы</li>
          <li class="transport__plan-item">Садимся в вертолёт</li>
          <li class="transport__plan-item">Наслаждаемся умопомрачительными видами 7 минут</li>
          <li class="transport__plan-item">Выходим в Монако</li>
        </ul>
      </div>
    </div>

    <div class="transport__container transport__container--taxi">
      <div class="transport__item">
        <h3 class="transport__type">На такси</h3>
        <div class="transport__parameters">
          <svg class="transport__icon" width="24" height="24">
            <use xlink:href="#icon-clock"></use>
          </svg>
          <span class="transport__value">45 минут</span>
          <svg class="transport__icon" width="24" height="24">
            <use xlink:href="#icon-euro"></use>
          </svg>
          <span class="transport__value">от 22€</span>
        </div>
        <ul class="transport__plan">
          <li class="transport__plan-item">Заказываем такси</br> Например «Ривьера Ницца», тел.: +33 (0) 4 93 13 78 78</li>
          <li class="transport__plan-item">Наслаждаемся красивыми видами и комфортом 45 минут</li>
          <li class="transport__plan-item">Оплачиваем (средняя стоимость — 90 € в одну сторону)</li>
          <li class="transport__plan-item">Выходим в Монако</li>
        </ul>
      </div>
    </div>

  </div>
</section>
