.advantages {
  @include container();
  min-height: 287px;
  margin-bottom: 100px;

  @include tablet {
    min-height: 335px;
    margin-bottom: 67px;
  }

  @include desktop {
    padding-top: 27px;
    min-height: 302px;
    margin-bottom: 65px;
  }
}

.advantages__slider {
  @include tablet {
    margin: 0 auto;
    width: $tablet-content-width;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @include desktop {
    width: $desktop-content-width;
  }
}

.advantages__item {
  padding-top: 104px;
  display: flex;
  flex-direction: column;

  align-items: center;
  outline: none;
  position: relative;
}

.advantages__container {
  margin-bottom: 20px;
  display: flex;
  width: 308px;
  box-sizing: border-box;
  padding-top: 26px;

  @include tablet {
    flex-flow: column;
    align-items: center;
    padding: 0;
    width: 216px;
    padding-top: 13px;
  }

  @include desktop {
    width: 360px;
    padding-top: 0;
  }
}

.advantages__icon {
  width: 100px;
  height: 100px;
  border: 1px solid $border-gray;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);

  @include tablet {
    margin-right: 0;
    margin-bottom: 5px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.advantages__icon-bed {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages__icon-sun {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages__icon-meal {
  position: absolute;
  top: 27px;
  left: 50%;
  transform: translateX(-55%);
}

.advantages__text {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.advantages__top {
  margin-bottom: 3px;
  color: $title-dark;
  @include second-font-reg(36px, 48px);

  @include tablet {
    margin-bottom: 5px;
  }
}

.advantages__middle {
  margin-bottom: 8px;
  width: 250px;
  color: $text-orange;
  @include second-font-reg(24px, 25px, 0.2px);

  @include tablet {
    margin-bottom: 20px;
    width: 100px;
  }
}

.advantages__bottom {
  margin-bottom: 8px;
  width: 180px;
  color: $text-gray;
  @include font-reg(14px, 25px, 0.1px);

  @include tablet {
    width: 180px;
  }

  @include desktop {
    width: 200px;
  }
}

.advantages__text--two {
  .advantages__middle {
    width: 240px;
  }

  .advantages__bottom {
    width: 308px;

    @include tablet {
      width: 222px;
    }

    @include desktop {
      width: 350px;
    }
  }
}

.advantages .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.advantages .slick-dots li button::before {
  content: '';
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 1;
  background-color: $border-gray;
}

.advantages .slick-dots li button {
  position: relative;
  &:hover::before {
    background-color: $bg-orange;
  }
}

.advantages .slick-dots li.slick-active button::before {
  background-color: $bg-orange;
}

.advantages .slick-dots {
  margin-bottom: 20px;
}

.advantages .slick-dots li {
  margin: 0 3px;
}
