.better {
  @include container();
  display: flex;
  flex-flow: column;
  align-items: center;

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 120px;
  }

  @include desktop-max {
    margin-bottom: 0px;
  }
}

.better__caption {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
  color: $title-dark;
  @include second-font-reg(30px, 40px);
  text-align: center;

  span {
    color: $text-orange;
  }

  @include tablet {
    margin-bottom: 32px;
    width: 450px;
    @include second-font-reg(50px, 60px, 0.4px);
  }

  @include desktop {
    width: 360px;
  }
}

.better__wrapper {
  width: 100%;

  @include desktop {
    width: $desktop-content-width;
    display: flex;
  }
}

.better__menu {
  margin: 0;
  padding: 0 4px 0 4px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

  @include tablet {
    margin-bottom: 10px;
    width: $tablet-content-width;
  }

  @include desktop {
    width: 345px;
    margin-right: 57px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.better__menu-item {
  width: 147px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &--active {
    background-image: url('../img/active_item_mobile.svg');
    background-repeat: no-repeat;
    background-position: left 0 bottom 8px;
    background-size: 147px 77px;

    .better__link .better__name {
      color: $white;
    }
  }

  @include desktop {
    margin-bottom: 10px;
    width: 355px;

    &--active {
      background-image: none;

      .better__link .better__name {
        color: $bg-orange;
      }

    }
  }
}

.better__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include desktop {
    flex-direction: row;
    align-items: center;
  }
}

.better__icon {
  margin-bottom: 5px;
  cursor: pointer;

  @include desktop {
    margin-right: 15px;
  }
}

.better__name {
  width: 100%;
  height: 57px;
  color: $light-gray;
  @include font-medium(16px, 19px, 0.3px);
  text-decoration: none;
  cursor: pointer;

  @include desktop {
    margin-bottom: 0;
    height: 36px;
    text-align: left;
    color: $bg-orange;
  }
}

.better__submenu {
  display: none;

  @include desktop {
    margin: 0;
    width: 330px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .better__submenu-item {
      width: 100%;
      padding-left: 50px;
      color: $text-gray;
      @include font-medium(15px, 40px, 0.3px);
      text-align: left;
      cursor: pointer;

      &--active {
        background-image: url('../img/active_item_desktop.svg');
        background-repeat: no-repeat;
        background-size: 300px 40px;
        background-position: left 10px top 0;

        .better__link .better__name {
          color: $bg-orange;
        }
      }
    }
  }
}

.better__wrap {
  width: 100%;
  position: relative;

  @include desktop {
    width: 67%;
  }
}

.better__slider {
  display: none;

  &--active {
    display: block;
  }
}

.better__container {
  padding: 5px;
  width: 80vw;
  outline: none;

  @include tablet {
    width: 70vw;
  }
}

.better__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    align-items: flex-start;
  }
}

.better__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: $title-dark;
  @include second-font-reg(24px, 30px);
  text-align: center;
  height: 60px;

  @media (min-width: 410px) {
    height: 30px;
    @include second-font-reg(20px, 30px);
  }

  @media (min-width: 500px) {
    @include second-font-reg(24px, 30px);
  }
}

.better__wrap-text {
  margin-top: 20px;
  width: 100%;

  @include tablet {
    width: 570px;
  }

  @include desktop {
    width: 690px;
    min-height: 260px;
  }
}

.better__text {
  margin: 0;
  @include font-reg(15px, 29px, 0.1px);
}

.better__price {
  color: $text-orange;
}

.better__image {
  @include tablet {
    width: 570px;
  }

  @include desktop {
    width: 690px;
  }
}

.better__controls {
  display: none;
  width: 95%;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 10px;

  &--active {
    display: flex;
  }

  @include tablet {
    width: 60%;
    left: 50%;
    transform: translate(-50%);
  }

  @include desktop {
    width: 10%;
    left: 60%;
  }
}

.better__arrow {
  width: 10px;
  height: 10px;
  border-left: 2px solid $bg-gray;
  border-bottom: 2px solid $bg-gray;
  cursor: pointer;
}

.better__arrow--prev {
  transform: rotate(45deg);
}

.better__arrow--next {
  transform: rotate(225deg);
}
