.header {
  margin-bottom: 24px;
  width: 100%;
  min-height: 580px;
  max-height: 667px;
  height: 100vh;
  padding-bottom: 0;
  background-color: $bg-gray;
  background-image: url('../img/bg_house_mobile.png'), url('../img/bg_monaco_mobile.png'), url('../img/bg_main_mobile.jpg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, contain, cover;
  animation: animatedMonacoMobile1 4s;
  background-position: center top, center top 115px, center top;

  @include retina(2) {
    background-image: url('../img/bg_house_mobile@2x.png'), url('../img/bg_monaco_mobile@2x.png'), url("../img/bg_main_mobile@2x.jpg");
  }

  @include retina(3) {
    background-image: url('../img/bg_house_mobile@3x.png'), url('../img/bg_monaco_mobile@3x.png'), url("../img/bg_main_mobile@3x.jpg");
  }

  @media (min-width: 360px) {
    background-position: center top, center top 130px, center top;
    animation: animatedMonacoMobile2 4s;
  }

  @media (min-width: 375px) {
    background-position: center top, center top 130px, center top;
    animation: animatedMonacoMobile2 4s;
  }

  @media (min-width: 411px) {
    max-height: 731px;
    background-position: center top, center top 150px, center top;
    animation: animatedMonacoMobile4 4s;
  }


  @media (min-width: 480px) {
    background-position: center top, center top 175px, center top;
    animation: animatedMonacoMobile3 4s;
  }

  @include tablet {
    min-height: 100vh;
    background-image: url('../img/bg_house_tablet.png'), url('../img/bg_monaco_tablet.png'), url('../img/bg_main_tablet.jpg');
    background-position: center top, center top 27vh, center top;
    background-size: cover, contain, cover;
    animation: animatedMonacoTablet 5s;

    @include retina(2) {
      background-image: url('../img/bg_house_tablet@2x.png'), url('../img/bg_monaco_tablet@2x.png'), url("../img/bg_main_tablet@2x.jpg");
    }

    @include retina(3) {
      background-image: url('../img/bg_house_tablet@3x.png'), url('../img/bg_monaco_tablet@3x.png'), url("../img/bg_main_tablet@3x.jpg");
    }
  }

  @media (min-width: 1024px) {
    background-position: center top, center top 34vh, center top;
    animation: animatedMonacoTablet2 5s;
  }

  @include desktop {
    min-height: 100vh;
    background-image: url('../img/bg_house.png'), url('../img/bg_monaco.png'), url('../img/bg_main.jpg');
    background-position: center bottom, center bottom 49vh, center bottom;
    background-size: cover, contain, cover;
    animation: animatedMonacoDesktop 6s;

    @include retina(2) {
      background-image: url('../img/bg_house@2x.png'), url('../img/bg_monaco@2x.png'), url("../img/bg_main@2x.jpg");
    }

    @include retina(3) {
      background-image: url('../img/bg_house@3x.png'), url('../img/bg_monaco@3x.png'), url("../img/bg_main@3x.jpg");
    }
  }
}

@keyframes animatedMonacoMobile1 {
  from {
    background-position: center top, center top 200px, center top;
    animation-timing-function: ease-in;
  }
  50% {
    background-position: center top, center top 50px, center top;
    animation-timing-function: ease-out;
  }
  100% {
    background-position: center top, center top 115px, center top;
  }
}

@keyframes animatedMonacoMobile2 {
  from {
    background-position: center top, center top 200px, center top;
    animation-timing-function: ease-in;
  }
  50% {
    background-position: center top, center top 50px, center top;
    animation-timing-function: ease-out;
  }
  100% {
    background-position: center top, center top 130px, center top;
  }
}

@keyframes animatedMonacoMobile3 {
  from {
    background-position: center top, center top 300px, center top;
    animation-timing-function: ease-in;
  }
  50% {
    background-position: center top, center top 50px, center top;
    animation-timing-function: ease-out;
  }
  100% {
    background-position: center top, center top 175px, center top;
  }
}

@keyframes animatedMonacoMobile4 {
  from {
    background-position: center top, center top 300px, center top;
    animation-timing-function: ease-in;
  }
  50% {
    background-position: center top, center top 50px, center top;
    animation-timing-function: ease-out;
  }
  100% {
    background-position: center top, center top 150px, center top;
  }
}

@keyframes animatedMonacoTablet {
  from {
    background-position: center top, center top 50vh, center top;
    animation-timing-function: ease-in;
  }
  50% {
    background-position: center top, center top 10vh, center top;
    animation-timing-function: ease-out;
  }
  100% {
    background-position: center top, center top 27vh, center top;
  }
}

@keyframes animatedMonacoTablet2 {
  from {
    background-position: center top, center top 60vh, center top;
    animation-timing-function: ease-in;
  }
  50% {
    background-position: center top, center top 15vh, center top;
    animation-timing-function: ease-out;
  }
  100% {
    background-position: center top, center top 34vh, center top;
  }
}

@keyframes animatedMonacoDesktop {
  from {
    background-position: center bottom, center bottom 33vh, center bottom;
    animation-timing-function: ease-in;
  }
  50% {
    background-position: center bottom, center bottom 70vh, center bottom;
    animation-timing-function: ease-out;
  }
  100% {
    background-position: center bottom, center bottom 49vh, center bottom;
  }
}

.header__content {
  @include container();
}

.header__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__menu {
  margin-top: 15px;
}

.header__logo-wrapper {
  margin-top: 15px;
  margin-bottom: 150px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;

  @media (min-width: 360px) {
    margin-bottom: 180px;
  }

  @media (min-width: 375px) {
    margin-bottom: 180px;
  }

  @media (min-width: 411px) {
    margin-bottom: 230px;
  }

  @media (min-width: 480px) {
    margin-bottom: 32vh;
  }

  @include tablet {
    margin-bottom: 42vh;
  };

  @media (min-width: 1024px) {
    margin-bottom: 55vh;
  }

  @include desktop {
    margin-bottom: 42vh;
    width: 100%;
  }
}

.header__logo {
  width: 162px;
  height: 30px;
  font-size: 0;
  background-repeat: no-repeat;
  cursor: pointer;

  &--ostrovok {
    margin-top: 13px;
    background-image: url('../img/ostrovok-logo.svg');
    background-size: 162px 20px;
  }
  &--monaco {
    width: 96px;
    background-image: url('../img/monako-visit-logo.svg');
    background-size: 96px 30px;
  }

  @include tablet {
    height: 32px;

    &--monaco {
      margin-top: 7px;
      background-size: 96px 30px;
    }
  }
}

.header__title {
  margin-bottom: 0;
  color: $white;
  @include second-font-bold(62px, 83px, 2px);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 10px;
    @include second-font-bold(140px, 187px, 5px);
  }

  @include desktop {
    @include second-font-bold(200px, 160px, 7px);
  }
}

.header__caption {
  margin-top: 5px;
  margin-bottom: 18px;
  color: $white;
  @include font-medium(18px, 21px, 0.4px);
  text-align: center;

  @media (min-width: 411px) {
    margin-bottom: 40px;
  }

  @include tablet {
    margin-bottom: 20px;
    @include font-medium(30px, 36px, 0.1px);
  }

  @include desktop {
    margin-bottom: 20px;
  }
}

.header__search {
  @include tablet {
    margin-bottom: 90px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 75px;
  }
}

.header__scroll {
  @include tablet {
    margin-bottom: auto;
  }
}
