.header {
  width: 100%;
  min-height: 580px;
  padding-bottom: 50px;
  background-color: $bg-gray;
  background-image: url('../../img/bg_main_mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  @include tablet {
    background-image: url('../../img/bg_main_tablet.jpg');
  }

  @include desktop {
    background-image: url('../../img/bg_main.jpg');
  }
}

.header__content {

}

.header__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo-wrapper {
  margin-top: 10px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.header__logo {
  width: 162px;
  height: 30px;
  background-repeat: no-repeat;


  &--ostrovok {
    margin-top: 13px;
    background-image: url('../../img/ostrovok-logo.svg');
    background-size: 162px 20px;
  }
  &--monaco {
    background-image: url('../../img/monako-visit-logo.svg');
    background-size: 96px 30px;
  }
}


.header__title {
  color: $white;
  @include second-font-bold(62px, 83px);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.header__caption {
  color: $white;
  @include font-medium(18px, 21px, 1.3px);
  text-align: center;
}

.header__search {

}

.header__scroll-down {
  display: none;

  @include tablet {
    display: flex;
  }
}

.header__text {

}

.header__btn {

}
