.instagram {
  width: 100%;
  height: 415px;
  margin-bottom: 93px;
  overflow: hidden;

  @include tablet {
    margin-bottom: 142px;
    position: relative;
  }

  @include desktop {
    height: 335px;
    margin-bottom: 120px;
  }
}

.instagram__wrap {
  margin-bottom: 10px;
  padding-left: 110px;
  display: flex;
  flex-direction: column;
  background-image: url('../img/insta.jpg');
  background-repeat: no-repeat;
  background-position: left 7px center;

  @include tablet {
    margin-left: 35px;
  }

  @include desktop {
    margin: 0 auto;
    width: $desktop-content-width;
  }
}

.instagram__caption {
  margin: 0;
  margin-top: 10px;
  color: $text-gray;
  @include font-reg(14px, 25px, 0.3px);

}

.instagram__collage {
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  li {
    margin: 5px;
    img {
      width: 96px;
      height: 96px;
    }
  }

  @include tablet {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    overflow: hidden;
  }

  @include desktop {
    top: 120px;
    width: 100vw;
  }
}
