.intro {
  margin: 0 auto;
  margin-bottom: 22px;
  @include desktop {
    width: $desktop-content-width;
  }
}

.intro__description {
  margin-bottom: 8px;
  color: $text-gray;
  @include font-reg(15px, 30px, 0.1px);
  text-align: center;
}
