.scroll {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--up {
    position: fixed;
    right: 20px;
    bottom: 30px;

    .scroll__text {
      color: red;
    }
  }
}

.scroll__text {
  color: $white;
  @include font-medium(13px, 15px);
  text-align: center;

  @include tablet {
    margin-bottom: 10px;
  }
}

.scroll__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover .scroll__icon {
    stroke: $bg-orange;
  }

  &:active .scroll__icon {
    transform: translateY(3px);
  }

  &--up {
    transform: rotate(180deg);

    .scroll__icon {
      stroke: $red;
    }
  }
}
