.stop {
  @include container();
  width: 100%;
  margin-bottom: 52px;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;
  }

  @include desktop {
    margin-bottom: 28px;
  }

  @include desktop-max {
    margin-bottom: 70px;
  }
}

.stop__caption {
  margin-top: 10px;
  margin-bottom: 22px;
  text-align: center;
  color: $title-dark;
  @include second-font-reg(30px, 40px, 0.1px);

  span {
    color: $text-orange;
  }

  @include tablet {
    line-height: 41px;
    font-size: 35px;
  }

  @include desktop {
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 48px;
  }
}

.stop__slider {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.stop__container {
  margin-bottom: 20px;
  width: 308px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 338px;
  }

  @include desktop {
    width: 390px;
  }
}

.stop__item {
  padding: 0;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid $border-gray;
  box-sizing: border-box;

  a {
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  @include tablet {
    height: 300px;
    margin-bottom: 10px;
  }

  @include desktop {
    height: 340px;
  }
}

.stop__rating {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.stop__rating-icon {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.stop__name {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  color: $title-dark;
  @include second-font-reg(20px, 30px, 0.2px);
}

.stop__image-cover {
  position: relative;
  width: 100%;
}

.stop__image-cover picture {
  width: 100%;
  height: auto;

  @include tablet {
    height: 216px;
  }

  @include desktop {
    overflow: hidden;
  }
}

.stop__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stop__price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 50px;
  background: $bg-orange;
  border-radius: 50px 50px 50px 50px;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.stop__price-sum {
  color: $white;
  @include font-medium(16px, 30px);
  margin-right: 20px;
  position: relative;
}

.stop .slick-initialized .slick-slide {
  display: flex;
}

.stop .slick-dotted.slick-slider {
  margin-bottom: 106px;;
}

.stop .slick-dots li button::before {
  content: '';
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 1;
  background-color: $border-gray;
}

.stop .slick-dots li button {
  position: relative;
  &:hover::before {
    background-color: $bg-orange;
  }
}

.stop .slick-dots li.slick-active button::before {
  background-color: $bg-orange;
}

.stop .slick-dots li {
  margin: 0;
  width: 15px;
  height: 15px;
}
